**/bin
**/build
**/.DS_Store
**/test.out

# binaries
client/build
bringyourctl/bringyourctl
api/api
taskworker/taskworker
gpt/gpt
connect/connect
connect/connect.test
connect/profile

temp/*

.vscode/*
.direnv

go.sum
