**/bin
**/build
**/.DS_Store
**/test.out
**/profile
**/*.test

# binaries
client/build
bringyourctl/bringyourctl
api/api
taskworker/taskworker
gpt/gpt
connect/connect
connect/connect.test
connect/profile
proxy/proxy
main

temp/*

.vscode/*
.direnv

